<h1>
  Patterns in Jazz Harmony
</h1>
<p>This App analyzes the Leadsheets of 1300 Jazz Standards and finds out patterns.</p>

<h2>Most used Keys</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="keyStats"></ngx-charts-tree-map>
<br>
<h2>Most used Accidentals</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="signatures"></ngx-charts-tree-map>
<br>
<h2>Most used Chords</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="chords"></ngx-charts-tree-map>
<br>
<h2>Most used Styles</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="styles"></ngx-charts-tree-map>
<br>
<h2>Most Compositions</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="composers"></ngx-charts-tree-map>
<br>
<h2>Number of Measures</h2>
<ngx-charts-tree-map
    [view]="small"
    [scheme]="colorScheme"
    [results]="lengths"></ngx-charts-tree-map>
<br>
<h2>Average Chords per Measure</h2>
<ngx-charts-line-chart
    [view]="small"
    [scheme]="colorScheme"
    [results]="densities"
    [autoScale]="autoScale"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="'Chords Density'"
    [yAxisLabel]="'Number of Songs'">
</ngx-charts-line-chart>
<br>
<h2>Chord Diversity</h2>
<ngx-charts-line-chart
    [view]="small"
    [scheme]="colorScheme"
    [results]="diversities"
    [autoScale]="autoScale"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="'Number of Different Chords'"
    [yAxisLabel]="'Number of Songs'">
</ngx-charts-line-chart>